.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  & img {
    width: 100px;
    height: 100px;
  }
  & a {
    text-decoration: none;
    color: black;
  }
}
.active {
  font-weight: 500;
}
