.rules {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .rules-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }
  button {
      width: 20%;
      align-self: center;
  }
}

@media only screen and (max-width: 576px) {
  .rules {
      width: 75%;
      top: 40%;
      button {
          width: 50%;
      }
  }
}
