<div class="rules">
  <h3 class="text-center">Rules</h3>
  <div class="rules-data">
      <div class="name">
        <label><b>Right Answer :</b></label>
        <span>10 Points</span>
      </div>
      <div class="address">
        <label><b>Wrong Answer :</b></label>
        <span>-10 Points</span>
      </div>
      <div class="education">
        <label><b>Skip Question :</b></label>
        <span>0 Points</span>
      </div>
      <button class="btn btn-primary" (click)="start()">Start Quiz</button>
  </div>
</div>
