<ng-container *ngIf="!dispResult">
    <div class="mt-5 mb-5 main-question">
        <div class="mt-5 px-3 py-4 text-timer">
            <h3 class="text">{{ allQuestion[currentQuestion]?.questionText }}</h3>
            <h5 class="timer" *ngIf="hideTimer">Remain Time : {{ timer }}</h5>
        </div>
        <ul class="option" *ngFor="let option of allQuestion[currentQuestion]?.options">
            <li class="mt-2">
                <button class="px-3 py-4 ans-opt" [disabled]="answerDisable" (click)="answer(currentQuestion + 1, option)" [ngClass]="{ 'selected': option.text == selectedOption, 'rightAns': option.text == rightAnswer }">
                    {{ option.text }}
                </button>
            </li>
        </ul>

        <div class="wrong-ans">
            <p class="fw-semibold fs-5 mx-3" *ngIf="rightAnswer">{{ timerText }} : {{ minTimer }}</p>
            <p class="text-success fw-semibold fs-5 mx-3">{{ rightAnswer }}</p>
            <button class="btn btn-success skip-btn mx-3" (click)="skipQuestion()" [hidden]="rightAnswer">
              Skip
          </button>
        </div>

        <div class="btns">
            <!-- <button class="btn btn-outline-primary mx-3 prev-btn" (click)="prevQuestion()" [disabled]="currentQuestion === 0">
                Previous
            </button> -->

            <p class="fw-semibold fs-4">
                {{ currentQuestion + 1 }} / {{ this.allQuestion.length }}
            </p>

        </div>
    </div>
</ng-container>


<ng-container *ngIf="dispResult">
    <div class="res">
        <h3 class="text-center">Your Result is : </h3>
        <div class="data">
            <div class="one">
                <p><b>Total Score</b></p>
                <p><b>Total Correct Question</b></p>
                <p><b>Total Wrong Question</b></p>
                <p><b>Total Skip Question</b></p>
            </div>
            <div class="two">
                <p>{{ points }} Points </p>
                <p>{{ correctAnswer }} </p>
                <p>{{ incorrectAnswer }} </p>
                <p>{{ skipAnswer }} </p>
            </div>
        </div>
        <button class="btn btn-outline-primary" (click)="redirectHome()">Go Home</button>
    </div>
</ng-container>
